# Web scraping

Cuando necesitamos extraer información publicada en internet, lo ideal es consultar una API, porque:

* Las respuestas contienen información estructurada
* En general, el propio servicio nos da documentación sobre cómo hacer peticiones y qué tipo de información podemos solicitar

Pero muchas veces nos encontramos con información en páginas web (en formato [HTML](https://es.wikipedia.org/wiki/HTML)) que nos gustaría obtener, pero sin API disponible.

Estas páginas `HTML` tienen cierta estructura, aunque con ciertos contras:

* Es más compleja, puede tener muchos niveles de anidamiento
* Es inestable. Están diseñadas para que se vean bien desde el explorador, no para guardar una estructura de consulta. De un día para otro, puede verse alterada por la incorporación de nuevos elementos visuales u otros motivos.
* Puede ser modificada por código cliente (javascript) en diferentes momentos: al cargar la página, al interaccionar con algún elemento, ...

### Ejercicio

Desde tu explorador, consulta el código fuente de una página de tu interés. Por ejemplo, para hacerlo en chrome:

* Accede a la página, p.e. [esta](https://es.wikipedia.org/wiki/HTML).
* Haz click derecho y pulsa `View page source`. Otra opción es pulsar `Inspect`, que además abrirá las herramientas de desarrollador de Chrome, muy útiles para navegar por la estructura de la página.

## Scraping de elementos html

La librería que vamos a utilizar es [Beautiful Soup](https://pypi.org/project/beautifulsoup4/). Nos permite buscar elementos y navegar por la estructura del html fácilmente.

Imaginemos que queremos comparar precios de un determinado modelo de motocicleta de segunda mano. P.e. con [esta búsqueda](https://www.milanuncios.com/motos-de-carretera/duke-390.htm) en milanuncios.

Primero, nos descargamos el html con `requests`.

In [14]:
import requests
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [7]:
import urllib.request
from urllib.request import urlopen
import re

htmlfile =request('https://carnejovenmadrid.com/es/ventajas/permanentes', headers={'User-Agent': 'Mozilla/5.0'})
page = urlopen(htmlfile).read()

NameError: name 'request' is not defined

In [ ]:
page

In [8]:
#Esto da la respuesta de impirmir el contenido
page = requests.get('https://carnejovenmadrid.com/es/ventajas/permanentes')
page

In [15]:
url = "https://carnejovenmadrid.com/es/ventajas/permanentes"

req = Request(url, headers = {'User-Agent': 'Mozilla/5.0'})

webpage = urlopen(req).read()

In [ ]:
webpage

Podemos ver el contenido examinando la propiedad `content`.

In [18]:
#Este es 
webpage.content

AttributeError: 'bytes' object has no attribute 'content'

Este contenido es solo texto, no tiene estructura. Aún no podemos hacer búsquedas ni navegar por él.

Para hacerlo, creamos una instancia de `Beautiful Soup` y lo parseamos

In [20]:
#Crear algo con estructura que podamos navegar
soup = BeautifulSoup(webpage, 'html.parser')

In [ ]:
soup

Sobre esto, podemos hacer búsquedas con `find` y `find_all` (o `select_one` y `select` si prefieres utilizar [selectores css](https://en.wikipedia.org/wiki/Cascading_Style_Sheets#Selector)). Sobre nuestro ejemplo, vamos a buscar todos los precios. Examinando el código fuente, vemos que son etiquetas `div` con clase `aditem-price`.

In [22]:
div_info = soup.find_all('div', class_='info')
div_info

[<div class="info">
 <p>A4 Toner</p>
 </div>, <div class="info">
 <p>Lasik Center Clínica Oftalmológica</p>
 </div>, <div class="info">
 <p>Nattivus</p>
 </div>, <div class="info">
 <p>CaixaForum Madrid</p>
 </div>, <div class="info">
 <p>Museo Arqueológico Nacional</p>
 </div>, <div class="info">
 <p>Museo Cerralbo</p>
 </div>, <div class="info">
 <p>Museo de América</p>
 </div>, <div class="info">
 <p>Museo del Romanticismo</p>
 </div>, <div class="info">
 <p>Museo del Traje</p>
 </div>, <div class="info">
 <p>Museo Nacional Centro de Arte Reina Sofía </p>
 </div>, <div class="info">
 <p>Museo Nacional de Antropología</p>
 </div>, <div class="info">
 <p>Museo Nacional de Artes Decorativas</p>
 </div>]

`find_all` devuelve una lista de elementos. Sobre ellos, podemos hacer:

`children` para sacar el listado de todos los hijos.

In [32]:
div_info[0]

<div class="info">
<p>A4 Toner</p>
</div>

In [52]:
#Se hace un cast a list
list(div_info[0].children)

['\n', <p>A4 Toner</p>, '\n']

`get_text()` para sacar el texto de todos los hijos

In [63]:
div_info[4].p.get_text()

'Museo Arqueológico Nacional'

In [56]:
div_pinfo[0].get_text()

'\nA4 Toner\n'

Por tanto, para sacar el listado de todos los precios podemos hacer:

In [78]:
Aliados = [(div_info.p.get_text()) for div_info in div_info]
Aliados

['A4 Toner',
 'Lasik Center Clínica Oftalmológica',
 'Nattivus',
 'CaixaForum Madrid',
 'Museo Arqueológico Nacional',
 'Museo Cerralbo',
 'Museo de América',
 'Museo del Romanticismo',
 'Museo del Traje',
 'Museo Nacional Centro de Arte Reina Sofía ',
 'Museo Nacional de Antropología',
 'Museo Nacional de Artes Decorativas']

In [ ]:
div_post = soup.find_all('ul', id='posts-masonry' )
div_post

In [158]:
ul = div_post
ul.find_all('li')

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [157]:
# Get the URL
ul.find_all('a')[0].attrs

{'href': '/es/ventajas/permanentes/a4-toner,5461ff6826ac5a64eafce4bf5f975aa7',
 'title': 'Promoción: A4 Toner. Ventaja Novedad, Online.'}

In [ ]:
ul = soup.find("h2", text="Tus resultados de búsqueda:").find_next_sibling("ul")
for item in ul.find_all('li', class_=True):
    print(item)

In [171]:
ul.find_all("li")[0]

<li class="post compras">
<a href="/es/ventajas/permanentes/a4-toner,5461ff6826ac5a64eafce4bf5f975aa7" title="Promoción: A4 Toner. Ventaja Novedad, Online.">
<img alt="" height="205" src="/upload/ofertas/ventajas/A4toner.jpg" width="250"/>
<div class="info">
<p>A4 Toner</p>
</div>
<div class="detalle">
<ul>
<li>
<span class="nota-hide">Ventaja</span>
<strong>  Novedad </strong>
<span class="nota-hide">de la Comunidad de Madrid</span>
</li>
<li>
<span class="nota-hide">Ventaja</span>
<strong>  Online </strong>
<span class="nota-hide">de la Comunidad de Madrid</span>
</li>
</ul>
</div>
</a>
</li>

In [173]:
ul = soup.find("h2", text="Tus resultados de búsqueda:").find_next_sibling("ul")

for li in ul.find_all('li'):
        print(li.text)

A4 Toner




Ventaja
  Novedad
de la Comunidad de Madrid


Ventaja
  Online
de la Comunidad de Madrid






Ventaja
  Novedad
de la Comunidad de Madrid


Ventaja
  Online
de la Comunidad de Madrid





Lasik Center Clínica Oftalmológica




Ventaja
  Novedad
de la Comunidad de Madrid






Ventaja
  Novedad
de la Comunidad de Madrid





Nattivus




Ventaja
  Novedad
de la Comunidad de Madrid






Ventaja
  Novedad
de la Comunidad de Madrid





CaixaForum Madrid




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo Arqueológico Nacional




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo Cerralbo




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo de América




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo del Romanticismo




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo del Traje




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo Nacional Centro de Arte Reina Sofía




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo Nacional de Antropología




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid





Museo Nacional de Artes Decorativas




Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid






Ventaja
  Gratis
de la Comunidad de Madrid


Ventaja
  Top
de la Comunidad de Madrid

In [ ]:
list(div_post[].children)

In [114]:
div_post[0].li.get_text()

'\n\n\n\nA4 Toner\n\n\n\n\nVentaja\n  Novedad \nde la Comunidad de Madrid\n\n\nVentaja\n  Online \nde la Comunidad de Madrid\n\n\n\n\n'

In [ ]:
Aliados = [(div_info.p.get_text()) for div_info in div_info]
Aliados

Tienes más funciones útiles con pequeños ejemplos [aquí](http://akul.me/blog/2016/beautifulsoup-cheatsheet/)

### Ejercicio

Crea un dataframe de pandas en el que cada fila sea un anuncio y tenga como columnas información que consideres relevante: precio, kilómetros, año, cilindrada, texto del anuncio, ...

In [27]:
div_km = soup.find_all('div', class_='kms')
div_km

[<div class="kms tag-mobile">1.200 kms</div>,
 <div class="kms tag-mobile">13.000 kms</div>,
 <div class="kms tag-mobile">1 kms</div>,
 <div class="kms tag-mobile">12.726 kms</div>,
 <div class="kms tag-mobile">9.700 kms</div>,
 <div class="kms tag-mobile">11.000 kms</div>,
 <div class="kms tag-mobile">1 kms</div>,
 <div class="kms tag-mobile">860 kms</div>,
 <div class="kms tag-mobile">6.000 kms</div>,
 <div class="kms tag-mobile">830 kms</div>,
 <div class="kms tag-mobile">23.000 kms</div>,
 <div class="kms tag-mobile">15.000 kms</div>,
 <div class="kms tag-mobile">7.500 kms</div>,
 <div class="kms tag-mobile">2.760 kms</div>,
 <div class="kms tag-mobile">18.000 kms</div>,
 <div class="kms tag-mobile">38.000 kms</div>,
 <div class="kms tag-mobile">68.000 kms</div>,
 <div class="kms tag-mobile">26.000 kms</div>,
 <div class="kms tag-mobile">10.500 kms</div>]

Para resolver el problema de que unos tienen y otros no precios y otros elementos, tomamos toda la caja del anuncio

In [ ]:
div_anuncios = soup.find_all('div', class_='aditem')
div_anuncios

In [65]:
#Seleccionamos algun anuncio y buscamos algo dentro de el
#list(div_anuncios[0].find('div', class_ = 'aditem-price'))

#div_anuncios[0].find('div', class_ = 'aditem-price').get_text()


list(div_anuncios[0].find('div', class_ = 'aditem-price').children)[0] #Esto saca los dos hijos y saca el primero

#Falta completar para sacar solo el precio con el signo de euros

'4.399'

In [66]:
#Seleccionamos kms
div_anuncios[0].find('div', class_ = 'kms').get_text()

#list(div_anuncios[0].find('div', class_ = 'kms').children)[0]

'1.200 kms'

In [67]:
#Seleccionamos year
div_anuncios[0].find('div', class_ = 'ano').get_text()

#list(div_anuncios[0].find('div', class_ = 'ano').children)[0]

'año 2017'

In [68]:
#Seleccionamos year
div_anuncios[0].find('div', class_ = 'x4').get_text()

'Motos de carretera en León  (LEON)'

In [69]:
#Seleccionamos year
div_anuncios[0].find('div', class_ = 'cc').get_text()

'390 cc'

In [76]:
def eval_info(elemento):
    if elemento is not None:
        return elemento.get_text()
    return None

def get_info(div_anuncios):
    div_precio = div_anuncios.find('div', class_ = 'aditem-price')
    if div_precio is not None:
        precio = list(div_precio.children)[0]
    else:
        precio = None
    
    kms = eval_info(div_anuncios.find('div', class_ = 'kms'))
    cc = eval_info(div_anuncios.find('div', class_ = 'cc'))
    titulo = eval_info(div_anuncios.find('div', class_ = 'x4'))
    year = eval_info(div_anuncios.find('div', class_ = 'ano'))
    
    propiedades = {
        'precio': precio,
        'kms': kms,
        'cc': cc,
        'year': year,
        'titulo': titulo}
    
    return propiedades

get_info(div_anuncios[0])

dic = [get_info(div_anuncios) for div_anuncios in div_anuncios]

In [79]:
#Crear un DataFrame
import pandas as pd
motos = pd.DataFrame(dic)
motos

,cc,kms,precio,titulo,year
0,390 cc,1.200 kms,4.399,Motos de carretera en León (LEON),año 2017
1,390 cc,13.000 kms,3.300,Motos de carretera en Las Palmas de Gran Canar...,año 2015
2,390 cc,1 kms,5.459,Motos de carretera en Valencia (VALENCIA),año 2018
3,375 cc,12.726 kms,3.999,Motos de carretera en toledo (TOLEDO),año 2016
4,390 cc,9.700 kms,4.200,Motos de carretera en Palma (BALEARES),año 2016
5,948 cc,None,8.599,Motos de carretera en mejorada del campo (MAD...,año 2017
6,803 cc,None,8.490,Motos de carretera en mejorada del campo (MAD...,año 2018
7,312 cc,None,3.995,Motos de carretera en mejorada del campo (MAD...,año 2019
8,649 cc,None,6.999,Motos de carretera en mejorada del campo (MAD...,año 2018
9,689 cc,None,6.699,Motos de carretera en mejorada del campo (MAD...,año 2018
10,998 cc,None,14.595,Motos de carretera en mejorada del campo (MAD...,año 2018
11,689 cc,None,6.699,Motos de carretera en mejorada del campo (MAD...,año 2018
12,649 cc,None,8.450,Motos de carretera en mejorada del campo (MAD...,año 2018
13,649 cc,None,8.450,Motos de carretera en mejorada del campo (MAD...,año 2018
14,250 cc,11.000 kms,2.850,Motos de carretera en mejorada del campo (MAD...,año 2016
15,125 cc,1 kms,None,Motos de carretera en C/ artenara 15 bajo las ...,año 2019
16,390 cc,860 kms,2.200,Motos de carretera en San martin de la vega (...,año 2016
17,390 cc,None,5.359,Motos de carretera en San sebastian de los rey...,año 2019
18,None,6.000 kms,4.100,Motos de carretera (ZARAGOZA),año 2015
19,390 cc,830 kms,4.495,Motos de carretera en Palma de mallorca (BALE...,año 2018
20,125 cc,23.000 kms,1.350,Motos de carretera en Irun (GUIPUZCOA),año 2013
21,44 cc,15.000 kms,3.350,Motos de carretera en Móstoles (MADRID),año 2016
22,390 cc,7.500 kms,3.999,Motos de carretera en Jaen (JAEN),año 2016
23,390 cc,2.760 kms,4.400,Motos de carretera en Mérida (BADAJOZ),año 2018
24,400 cc,None,4.995,Motos de carretera en Manzanares (CIUDAD_REAL),año 2018
25,390 cc,18.000 kms,3.800,Motos de carretera en La laguna (TENERIFE),año 2015
26,390 cc,38.000 kms,3.400,Motos de carretera en La laguna (TENERIFE),año 2014
27,998 cc,68.000 kms,3.500,Motos de carretera (MADRID),año 2007
28,750 cc,26.000 kms,3.200,Motos de carretera en Almansa (ALBACETE),año 2002
29,375 cc,10.500 kms,3.500,Motos de carretera (GRANADA),año 2014

In [105]:
import re
#def limpia_kms(fila):
#    if fila.kms is None:
#        return None
#    return int(''join(re.find_all('[0-9]+')), fila.precio)

def limpia_kms(fila):
    if fila.kms is None:
        return None
    fila.kms = fila.kms.replace(' kms', '')
    fila.kms = fila.kms.replace('.', '')
    
    return int(fila.kms)

motos['kms'] = motos.apply(limpia_kms, axis=1)

In [103]:
def limpia_ano(fila):
    if fila.year is None:
        return None
    fila.kms = fila.kms.replace(' kms', '')
    fila.kms = fila.kms.replace('.', '')
    
    return int(fila.kms)

motos['kms'] = motos.apply(limpia_kms, axis=1)

,cc,kms,precio,titulo,year
0,390 cc,1200.0,4.399,Motos de carretera en León (LEON),año 2017
1,390 cc,13000.0,3.300,Motos de carretera en Las Palmas de Gran Canar...,año 2015
2,390 cc,1.0,5.459,Motos de carretera en Valencia (VALENCIA),año 2018
3,375 cc,12726.0,3.999,Motos de carretera en toledo (TOLEDO),año 2016
4,390 cc,9700.0,4.200,Motos de carretera en Palma (BALEARES),año 2016
5,948 cc,NaN,8.599,Motos de carretera en mejorada del campo (MAD...,año 2017
6,803 cc,NaN,8.490,Motos de carretera en mejorada del campo (MAD...,año 2018
7,312 cc,NaN,3.995,Motos de carretera en mejorada del campo (MAD...,año 2019
8,649 cc,NaN,6.999,Motos de carretera en mejorada del campo (MAD...,año 2018
9,689 cc,NaN,6.699,Motos de carretera en mejorada del campo (MAD...,año 2018
10,998 cc,NaN,14.595,Motos de carretera en mejorada del campo (MAD...,año 2018
11,689 cc,NaN,6.699,Motos de carretera en mejorada del campo (MAD...,año 2018
12,649 cc,NaN,8.450,Motos de carretera en mejorada del campo (MAD...,año 2018
13,649 cc,NaN,8.450,Motos de carretera en mejorada del campo (MAD...,año 2018
14,250 cc,11000.0,2.850,Motos de carretera en mejorada del campo (MAD...,año 2016
15,125 cc,1.0,None,Motos de carretera en C/ artenara 15 bajo las ...,año 2019
16,390 cc,860.0,2.200,Motos de carretera en San martin de la vega (...,año 2016
17,390 cc,NaN,5.359,Motos de carretera en San sebastian de los rey...,año 2019
18,None,6000.0,4.100,Motos de carretera (ZARAGOZA),año 2015
19,390 cc,830.0,4.495,Motos de carretera en Palma de mallorca (BALE...,año 2018
20,125 cc,23000.0,1.350,Motos de carretera en Irun (GUIPUZCOA),año 2013
21,44 cc,15000.0,3.350,Motos de carretera en Móstoles (MADRID),año 2016
22,390 cc,7500.0,3.999,Motos de carretera en Jaen (JAEN),año 2016
23,390 cc,2760.0,4.400,Motos de carretera en Mérida (BADAJOZ),año 2018
24,400 cc,NaN,4.995,Motos de carretera en Manzanares (CIUDAD_REAL),año 2018
25,390 cc,18000.0,3.800,Motos de carretera en La laguna (TENERIFE),año 2015
26,390 cc,38000.0,3.400,Motos de carretera en La laguna (TENERIFE),año 2014
27,998 cc,68000.0,3.500,Motos de carretera (MADRID),año 2007
28,750 cc,26000.0,3.200,Motos de carretera en Almansa (ALBACETE),año 2002
29,375 cc,10500.0,3.500,Motos de carretera (GRANADA),año 2014

### Ejercicio

Modifica el código anterior para que, además de bajarse la página actual, navegue por el resto de pagínas e incorpore también esos anuncios a tu dataframe.

In [ ]:
sigue_procesando = True
numero_pagina = 1

while sigue_procesando:
    #Peticion a la pagina
    page = requests.get('https://www.milanuncios.com/motos-de-carretera/duke-390.htm', params = {'pagina': numero_pagina})
    
    soup = BeautifulSoup(page.content, 'html.parser')
    div_anuncios = soup.find_all('div', class_='aditem')

## Scraping de tablas

A menudo, la información que nos interesa descargar está en tablas y nuestro objetivo es importarlas en tablas de Pandas. Esta conversión suele exigir la manipulación del texto, números y fechas contenidas en la tabla original, lo que nos obligará a repasar cómo realizar esas operaciones y aplicarlas a filas y columnas de las tablas.

La estructura que suelen tener la tablas en `html` es:

```
<table>
    <thead>
        <tr>
            <th>Columna A</th>
            <th>Columna B</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A1</td>
            <td>B1</td>
        </tr>
        <tr>
            <td>A2</td>
            <td>B2</td>
        </tr>
    </tbody>
</table>   
```

## Scraping de tablas

A menudo, la información que nos interesa descargar está en tablas y nuestro objetivo es importarlas en tablas de Pandas. Esta conversión suele exigir la manipulación del texto, números y fechas contenidas en la tabla original, lo que nos obligará a repasar cómo realizar esas operaciones y aplicarlas a filas y columnas de las tablas.

La estructura que suelen tener la tablas en `html` es:

```
<table>
    <thead>
        <tr>
            <th>Columna A</th>
            <th>Columna B</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A1</td>
            <td>B1</td>
        </tr>
        <tr>
            <td>A2</td>
            <td>B2</td>
        </tr>
    </tbody>
</table>   
```

Necesitaremos los siguientes módulos además de `requests` y `BeautifulSoup` importados anteriormente:

In [ ]:
import pandas as pd
import re

Primero, hacemos una petición para descargar la página de interés (que contiene las cotizaciones de las acciones del IBEX 35 en tiempo _casi_ real).

In [ ]:
base_url = "https://www.eleconomista.es/indice/IBEX-35"
res = requests.get(base_url)
contenido = res.content
contenido

La siguiente línea procesa el HTML de la página que hemos descargado:

In [155]:
soup = BeautifulSoup(contenido, "html.parser")

Una vez procesado el HTML, es posible buscar elementos dentro de él. En particular, podemos buscar los elementos de tipo `table`, es decir, tablas.

In [168]:
tablas = soup.find_all('table')

El objeto `tablas` contiene todas las tablas presentes en la página. Hay que tener cuidado con dichas tablas porque muchas páginas utilizan elementos de tipo `table` para estructurar el contenido. Por eso, en algunas páginas, aunque parezca haber una única tabla, puede haber otras con una información no interesante que toca descartar.

In [169]:
len(tablas)

3

Podemos extraer las filas de todas estas tablas

In [181]:
lineas[1].find_all('td')[0] #Selecciona el primer td

In [182]:
#Hacemos lo mismo anterior para el resto del script
lineas = [x for tabla in tablas for x in tabla.find_all('tr')]
lineas

[<tr class="footable-header"><th class="footable-first-visible" href="/indice/IBEX-35/resumen/Nombre/descendente">Nombre</th><th>Precio</th><th data-breakpoints="" data-title=""></th><th data-breakpoints=""><a href="/indice/IBEX-35/resumen/Mejores">Var. (%)</a></th><th data-breakpoints="xs">Var. (€)</th><th data-breakpoints="sm xs" data-title="Volumen (€)"><a href="/indice/IBEX-35/resumen/Volumen">Volumen (€)</a></th><th data-breakpoints="sm xs" data-title="Cap."><a href="/indice/IBEX-35/resumen/Capitalizacion">Capitalización</a><sup>(1)</sup></th><th data-breakpoints="sm xs" data-title="PER"><a href="/indice/IBEX-35/resumen/PER">PER</a></th><th data-breakpoints="sm xs" data-title="Rent. /Div."><a href="/indice/IBEX-35/resumen/Rentabilidad-Dividendo">Rent. /Div.</a></th><th class="footable-last-visible" data-breakpoints="sm xs" data-title="Hora"> Hora </th></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ACCIONA" itemprop="url">ACCIONA</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">84,52</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,38%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,32</span></td><td><span>2.072.710,26</span></td><td>4.836,14</td><td>16,62</td><td>3,96%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ACERINOX" itemprop="url">ACERINOX</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">9,63</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,52%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,05</span></td><td><span>3.843.344,12</span></td><td>2.652,46</td><td>11,56</td><td>5,08%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ACS" itemprop="url">ACS</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">35,93</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,77%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,28</span></td><td><span>2.615.204,38</span></td><td>11.302,75</td><td>11,24</td><td>4,79%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/AENA" itemprop="url">AENA</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">150,25</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-1,02%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-1,55</span></td><td><span>2.006.341,40</span></td><td>22.605,00</td><td>17,01</td><td>4,64%</td><td><span class="footable-last-visible">12:18</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/AMADEUS" itemprop="url">AMADEUS</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">66,50</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,61%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,40</span></td><td><span>7.323.668,60</span></td><td>29.172,92</td><td>22,76</td><td>2,03%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ARCELORMITTAL-" itemprop="url">ARCELORMITTAL</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">20,77</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,58%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,12</span></td><td><span>3.073.045,46</span></td><td>21.168,73</td><td>0,00</td><td>0,00%</td><td><span class="footable-last-visible">12:19</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/BANKIA" itemprop="url">BANKIA</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">2,52</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,88%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,02</span></td><td><span>2.767.628,56</span></td><td>7.755,60</td><td>10,71</td><td>5,24%</td><td><span class="footable-last-visible">12:19</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/BANKINTER" itemprop="url">BANKINTER</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">6,67</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,54%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,04</span></td><td><span>3.269.676,47</span></td><td>6.002,63</td><td>10,86</td><td>4,60%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/BBVA" itemprop="url">BBVA</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">5,21</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,27%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,01</span></td><td><span>26.527.312,00</span></td><td>34.833,04</td><td>8,10</td><td>5,39%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/CAIXABANK" itemprop="url">CAIXABANK</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">2,97</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+1,19%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,04</span></td><td><span>23.833.015,33</span></td><td>17.758,89</td><td>8,19</td><td>6,29%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="footable-header"><th class="footable-first-visible" href="/indice/IBEX-35/resumen/Nombre/descendente">Nombre</th><th>Precio</th><th data-breakpoints="" data-title=""></th><th data-breakpoints=""><a href="/indice/IBEX-35/resumen/Mejores">Var. (%)</a></th><th data-breakpoints="xs">Var. (€)</th><th data-breakpoints="sm xs" data-title="Volumen (€)"><a href="/indice/IBEX-35/resumen/Volumen">Volumen (€)</a></th><th data-breakpoints="sm xs" data-title="Cap."><a href="/indice/IBEX-35/resumen/Capitalizacion">Capitalización</a><sup>(1)</sup></th><th data-breakpoints="sm xs" data-title="PER"><a href="/indice/IBEX-35/resumen/PER">PER</a></th><th data-breakpoints="sm xs" data-title="Rent. /Div."><a href="/indice/IBEX-35/resumen/Rentabilidad-Dividendo">Rent. /Div.</a></th><th class="footable-last-visible" data-breakpoints="sm xs" data-title="Hora"> Hora </th></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/CELLNEX-TELECOM-" itemprop="url">CELLNEX TELECOM </a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">24,80</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,28%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,07</span></td><td><span>145.977,67</span></td><td>5.731,84</td><td>75,34</td><td>0,47%</td><td><span class="footable-last-visible">09:09</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/CIE-AUTOMOTIVE" itemprop="url">CIE AUTOMOTIVE</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">24,52</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,08%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,02</span></td><td><span>781.303,66</span></td><td>3.160,50</td><td>11,57</td><td>2,66%</td><td><span class="footable-last-visible">12:14</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ENAGAS" itemprop="url">ENAGAS</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">25,38</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,78%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,20</span></td><td><span>2.281.731,79</span></td><td>6.068,62</td><td>14,35</td><td>6,30%</td><td><span class="footable-last-visible">12:19</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ENCE" itemprop="url">ENCE</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">6,840</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+2,17%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,145</span></td><td><span>4.716.890,69</span></td><td>1.685,74</td><td>10,15</td><td>4,79%</td><td><span class="footable-last-visible">12:13</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/ENDESA" itemprop="url">ENDESA</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">22,04</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,23%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,05</span></td><td><span>2.407.645,89</span></td><td>23.292,55</td><td>15,12</td><td>6,58%</td><td><span class="footable-last-visible">09:10</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/FERROVIAL" itemprop="url">FERROVIAL</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">19,48</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-1,44%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,29</span></td><td><span>6.510.166,59</span></td><td>14.425,73</td><td>33,90</td><td>3,17%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/GRIFOLS" itemprop="url">GRIFOLS</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">23,55</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,38%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,09</span></td><td><span>1.678.712,55</span></td><td>10.014,05</td><td>20,17</td><td>1,79%</td><td><span class="footable-last-visible">12:19</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/IAG-IBERIA" itemprop="url">IAG (IBERIA)</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">7,56</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,67%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,05</span></td><td><span>2.220.948,82</span></td><td>15.079,69</td><td>6,28</td><td>4,17%</td><td><span class="footable-last-visible">12:18</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/IBERDROLA" itemprop="url">IBERDROLA</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">7,22</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">-0,22%</span></td><td><span class="accion-1" id="F|compo|item_100022786_55_df|variacion_puntos|div">-0,02</span></td><td><span>17.613.058,50</span></td><td>46.254,86</td><td>14,33</td><td>4,96%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/INDITEX" itemprop="url">INDITEX</a></td><td><span id="F|compo|item_100022786_55_df|precio_ultima_cotizacion|div">25,04</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|#arrow|div"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_porcentual|div">+0,00%</span></td><td><span class="accion1" id="F|compo|item_100022786_55_df|variacion_puntos|div">0,00</span></td><td><span>10.642.001,14</span></td><td>77.853,97</td><td>19,77</td><td>3,55%</td><td><span class="footable-last-visible">12:20</span></td></tr>,
 <tr class="footable-header"><th class="footable-first-visible" href="/indice/IBEX-35/resumen/Nombre/descendente">Nombre</th><th>Precio</th><th data-breakpoints="" data-title=""></th><th data-breakpoints=""><a href="/indice/IBEX-35/resumen/Mejores">Var. (%)</a></th><th data-breakpoints="xs">Var. (€)</th><th data-breakpoints="sm xs" data-title="Volumen (€)"><a href="/indice/IBEX-35/resumen/Volumen">Volumen (€)</a></th><th data-breakpoints="sm xs" data-title="Cap."><a href="/indice/IBEX-35/resumen/Capitalizacion">Capitalización</a><sup>(1)</sup></th><th data-breakpoints="sm xs" data-title="PER"><a href="/indice/IBEX-35/resumen/PER">PER</a></th><th data-breakpoints="sm xs" data-title="Rent. /Div."><a href="/indice/IBEX-35/resumen/Rentabilidad-Dividendo">Rent. /Div.</a></th><th class="footable-last-visible" data-breakpoints="sm xs" data-title="Hora"> Hora </th></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/INDRA" itemprop="url">INDRA</a></td><td><span>9,25</span></td><td><span class="accion1"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1">+0,27%</span></td><td><span class="accion1">0,03</span></td><td><span>1.224.431,85</span></td><td>1.632,29</td><td>10,72</td><td>1,40%</td><td><span>12:19</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/COLONIAL" itemprop="url">INM. COLONIAL</a></td><td><span>8,87</span></td><td><span class="accion1"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1">+0,06%</span></td><td><span class="accion1">0,01</span></td><td><span>1.247.474,56</span></td><td>4.506,98</td><td>30,51</td><td>2,48%</td><td><span>12:20</span></td></tr>,
 <tr><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/MAPFRE" itemprop="url">MAPFRE</a></td><td><span>2,48</span></td><td><span class="accion1"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-sube.svg"/></span></td><td><span class="accion1">+0,28%</span></td><td><span class="accion1">0,01</span></td><td><span>1.381.325,78</span></td><td>7.643,45</td><td>8,97</td><td>6,49%</td><td><span>12:18</span></td></tr>,
 <tr class="even"><td class="footable-first-visible" itemscope="" itemtype="http://schema.org/SiteNavigationElement"><a href="/empresa/MEDIASET" itemprop="url">MEDIASET</a></td><td><span>6,228</span></td><td><span class="accion-1"><img src="//s03.s3c.es/imag3/iconos/svg/cotizaciones-baja.svg"/></span></td><td><span class="accion-1">-1,21%</span></td><td><span class="accion-1">-0,076</span></td><td><span>1.062.289,45</span></td><td>2.044,51</td><td>10,53</td><td>9,25%</td><td><span>12:16</span></td></tr>,

para luego extraer los contenidos de cada fila individualmente haciendo

In [183]:
datos = [[x.text for x  in linea.find_all('td')] for linea in lineas]
datos

[[],
 ['ACCIONA',
  '84,52',
  '',
  '-0,38%',
  '-0,32',
  '2.072.710,26',
  '4.836,14',
  '16,62',
  '3,96%',
  '12:20'],
 ['ACERINOX',
  '9,63',
  '',
  '+0,52%',
  '0,05',
  '3.843.344,12',
  '2.652,46',
  '11,56',
  '5,08%',
  '12:20'],
 ['ACS',
  '35,93',
  '',
  '-0,77%',
  '-0,28',
  '2.615.204,38',
  '11.302,75',
  '11,24',
  '4,79%',
  '12:20'],
 ['AENA',
  '150,25',
  '',
  '-1,02%',
  '-1,55',
  '2.006.341,40',
  '22.605,00',
  '17,01',
  '4,64%',
  '12:18'],
 ['AMADEUS',
  '66,50',
  '',
  '+0,61%',
  '0,40',
  '7.323.668,60',
  '29.172,92',
  '22,76',
  '2,03%',
  '12:20'],
 ['ARCELORMITTAL',
  '20,77',
  '',
  '+0,58%',
  '0,12',
  '3.073.045,46',
  '21.168,73',
  '0,00',
  '0,00%',
  '12:19'],
 ['BANKIA',
  '2,52',
  '',
  '+0,88%',
  '0,02',
  '2.767.628,56',
  '7.755,60',
  '10,71',
  '5,24%',
  '12:19'],
 ['BANKINTER',
  '6,67',
  '',
  '+0,54%',
  '0,04',
  '3.269.676,47',
  '6.002,63',
  '10,86',
  '4,60%',
  '12:20'],
 ['BBVA',
  '5,21',
  '',
  '-0,27%',
  '-0,01',
  '26.527.312,00',
  '34.833,04',
  '8,10',
  '5,39%',
  '12:20'],
 ['CAIXABANK',
  '2,97',
  '',
  '+1,19%',
  '0,04',
  '23.833.015,33',
  '17.758,89',
  '8,19',
  '6,29%',
  '12:20'],
 [],
 ['CELLNEX TELECOM ',
  '24,80',
  '',
  '+0,28%',
  '0,07',
  '145.977,67',
  '5.731,84',
  '75,34',
  '0,47%',
  '09:09'],
 ['CIE AUTOMOTIVE',
  '24,52',
  '',
  '-0,08%',
  '-0,02',
  '781.303,66',
  '3.160,50',
  '11,57',
  '2,66%',
  '12:14'],
 ['ENAGAS',
  '25,38',
  '',
  '-0,78%',
  '-0,20',
  '2.281.731,79',
  '6.068,62',
  '14,35',
  '6,30%',
  '12:19'],
 ['ENCE',
  '6,840',
  '',
  '+2,17%',
  '0,145',
  '4.716.890,69',
  '1.685,74',
  '10,15',
  '4,79%',
  '12:13'],
 ['ENDESA',
  '22,04',
  '',
  '+0,23%',
  '0,05',
  '2.407.645,89',
  '23.292,55',
  '15,12',
  '6,58%',
  '09:10'],
 ['FERROVIAL',
  '19,48',
  '',
  '-1,44%',
  '-0,29',
  '6.510.166,59',
  '14.425,73',
  '33,90',
  '3,17%',
  '12:20'],
 ['GRIFOLS',
  '23,55',
  '',
  '-0,38%',
  '-0,09',
  '1.678.712,55',
  '10.014,05',
  '20,17',
  '1,79%',
  '12:19'],
 ['IAG (IBERIA)',
  '7,56',
  '',
  '+0,67%',
  '0,05',
  '2.220.948,82',
  '15.079,69',
  '6,28',
  '4,17%',
  '12:18'],
 ['IBERDROLA',
  '7,22',
  '',
  '-0,22%',
  '-0,02',
  '17.613.058,50',
  '46.254,86',
  '14,33',
  '4,96%',
  '12:20'],
 ['INDITEX',
  '25,04',
  '',
  '+0,00%',
  '0,00',
  '10.642.001,14',
  '77.853,97',
  '19,77',
  '3,55%',
  '12:20'],
 [],
 ['INDRA',
  '9,25',
  '',
  '+0,27%',
  '0,03',
  '1.224.431,85',
  '1.632,29',
  '10,72',
  '1,40%',
  '12:19'],
 ['INM. COLONIAL',
  '8,87',
  '',
  '+0,06%',
  '0,01',
  '1.247.474,56',
  '4.506,98',
  '30,51',
  '2,48%',
  '12:20'],
 ['MAPFRE',
  '2,48',
  '',
  '+0,28%',
  '0,01',
  '1.381.325,78',
  '7.643,45',
  '8,97',
  '6,49%',
  '12:18'],
 ['MEDIASET',
  '6,228',
  '',
  '-1,21%',
  '-0,076',
  '1.062.289,45',
  '2.044,51',
  '10,53',
  '9,25%',
  '12:16'],
 ['MELIA HOTELS INTL',
  '9,18',
  '',
  '+1,16%',
  '0,11',
  '1.978.762,95',
  '2.115,54',
  '15,47',
  '1,79%',
  '12:20'],
 ['MERLIN PROP.',
  '11,46',
  '',
  '+0,31%',
  '0,04',
  '1.691.814,26',
  '5.355,39',
  '19,16',
  '4,59%',
  '12:20'],
 ['NATURGY',
  '24,29',
  '',
  '-0,33%',
  '-0,08',
  '14.381.331,14',
  '24.326,76',
  '16,35',
  '5,66%',
  '12:20'],
 ['REE',
  '20,18',
  '',
  '-0,30%',
  '-0,06',
  '3.156.441,97',
  '10.929,82',
  '14,88',
  '5,29%',
  '12:20'],
 ['REPSOL',
  '15,40',
  '',
  '-0,06%',
  '-0,01',
  '14.111.541,64',
  '23.936,57',
  '9,04',
  '6,22%',
  '12:20'],
 ['SABADELL',
  '0,88',
  '',
  '+2,04%',
  '0,02',
  '13.026.998,81',
  '4.935,97',
  '6,06',
  '7,70%',
  '12:20'],
 ['SANTANDER',
  '4,10',
  '',
  '-0,11%',
  '-0,00',
  '897.192.389,93',
  '66.707,96',
  '7,98',
  '5,65%',
  '12:20'],
 ['SIEMENS GAMESA',
  '13,00',
  '',
  '+0,27%',
  '0,04',
  '3.273.173,41',
  '8.892,33',
  '16,96',
  '0,75%',
  '12:18'],
 ['TECNICAS REUNIDAS',
  '23,49',
  '',
  '+0,51%',
  '0,12',
  '519.925,43',
  '1.311,32',
  '13,56',
  '3,97%',
  '12:11'],
 ['TELEFONICA',
  '7,57',
  '',
  '-0,54%',
  '-0,04',
  '12.970.181,96',
  '38.247,02',
  '10,45',
  '5,31%',
  '12:20'],
 ['VISCOFAN',
  '49,52',
  '',
  '-0,36%',
  '-0,18',
  '360.520,30',
  '2.305,02',
  '19,12',
  '3,30%',
  '12:03']]

Podemos inspeccionar parte del objeto resultante:

In [184]:
datos[0:3]

[[],
 ['ACCIONA',
  '84,52',
  '',
  '-0,38%',
  '-0,32',
  '2.072.710,26',
  '4.836,14',
  '16,62',
  '3,96%',
  '12:20'],
 ['ACERINOX',
  '9,63',
  '',
  '+0,52%',
  '0,05',
  '3.843.344,12',
  '2.652,46',
  '11,56',
  '5,08%',
  '12:20']]

Vemos que hay filas que contienen la información de interés junto con otras que contienen cabeceras y otra información irrelevante. En general, la situación puede ser más complicada y se hace necesario estudiar el objeto `tablas` para seleccionar la de interés.

En nuestro caso, podemos filtrar las líneas menos relevantes así:

In [185]:
datos = [x for x in datos if len(x) > 0]

Finalmente, podemos crear una tabla de Pandas:

In [186]:
datos = pd.DataFrame(datos)
datos

,0,1,2,3,4,5,6,7,8,9
0,ACCIONA,"84,52",,"-0,38%","-0,32","2.072.710,26","4.836,14","16,62","3,96%",12:20
1,ACERINOX,"9,63",,"+0,52%","0,05","3.843.344,12","2.652,46","11,56","5,08%",12:20
2,ACS,"35,93",,"-0,77%","-0,28","2.615.204,38","11.302,75","11,24","4,79%",12:20
3,AENA,"150,25",,"-1,02%","-1,55","2.006.341,40","22.605,00","17,01","4,64%",12:18
4,AMADEUS,"66,50",,"+0,61%","0,40","7.323.668,60","29.172,92","22,76","2,03%",12:20
5,ARCELORMITTAL,"20,77",,"+0,58%","0,12","3.073.045,46","21.168,73","0,00","0,00%",12:19
6,BANKIA,"2,52",,"+0,88%","0,02","2.767.628,56","7.755,60","10,71","5,24%",12:19
7,BANKINTER,"6,67",,"+0,54%","0,04","3.269.676,47","6.002,63","10,86","4,60%",12:20
8,BBVA,"5,21",,"-0,27%","-0,01","26.527.312,00","34.833,04","8,10","5,39%",12:20
9,CAIXABANK,"2,97",,"+1,19%","0,04","23.833.015,33","17.758,89","8,19","6,29%",12:20
10,CELLNEX TELECOM,"24,80",,"+0,28%","0,07","145.977,67","5.731,84","75,34","0,47%",09:09
11,CIE AUTOMOTIVE,"24,52",,"-0,08%","-0,02","781.303,66","3.160,50","11,57","2,66%",12:14
12,ENAGAS,"25,38",,"-0,78%","-0,20","2.281.731,79","6.068,62","14,35","6,30%",12:19
13,ENCE,"6,840",,"+2,17%","0,145","4.716.890,69","1.685,74","10,15","4,79%",12:13
14,ENDESA,"22,04",,"+0,23%","0,05","2.407.645,89","23.292,55","15,12","6,58%",09:10
15,FERROVIAL,"19,48",,"-1,44%","-0,29","6.510.166,59","14.425,73","33,90","3,17%",12:20
16,GRIFOLS,"23,55",,"-0,38%","-0,09","1.678.712,55","10.014,05","20,17","1,79%",12:19
17,IAG (IBERIA),"7,56",,"+0,67%","0,05","2.220.948,82","15.079,69","6,28","4,17%",12:18
18,IBERDROLA,"7,22",,"-0,22%","-0,02","17.613.058,50","46.254,86","14,33","4,96%",12:20
19,INDITEX,"25,04",,"+0,00%","0,00","10.642.001,14","77.853,97","19,77","3,55%",12:20
20,INDRA,"9,25",,"+0,27%","0,03","1.224.431,85","1.632,29","10,72","1,40%",12:19
21,INM. COLONIAL,"8,87",,"+0,06%","0,01","1.247.474,56","4.506,98","30,51","2,48%",12:20
22,MAPFRE,"2,48",,"+0,28%","0,01","1.381.325,78","7.643,45","8,97","6,49%",12:18
23,MEDIASET,"6,228",,"-1,21%","-0,076","1.062.289,45","2.044,51","10,53","9,25%",12:16
24,MELIA HOTELS INTL,"9,18",,"+1,16%","0,11","1.978.762,95","2.115,54","15,47","1,79%",12:20
25,MERLIN PROP.,"11,46",,"+0,31%","0,04","1.691.814,26","5.355,39","19,16","4,59%",12:20
26,NATURGY,"24,29",,"-0,33%","-0,08","14.381.331,14","24.326,76","16,35","5,66%",12:20
27,REE,"20,18",,"-0,30%","-0,06","3.156.441,97","10.929,82","14,88","5,29%",12:20
28,REPSOL,"15,40",,"-0,06%","-0,01","14.111.541,64","23.936,57","9,04","6,22%",12:20
29,SABADELL,"0,88",,"+2,04%","0,02","13.026.998,81","4.935,97","6,06","7,70%",12:20
30,SANTANDER,"4,10",,"-0,11%","-0,00","897.192.389,93","66.707,96","7,98","5,65%",12:20
31,SIEMENS GAMESA,"13,00",,"+0,27%","0,04","3.273.173,41","8.892,33","16,96","0,75%",12:18
32,TECNICAS REUNIDAS,"23,49",,"+0,51%","0,12","519.925,43","1.311,32","13,56","3,97%",12:11
33,TELEFONICA,"7,57",,"-0,54%","-0,04","12.970.181,96","38.247,02","10,45","5,31%",12:20
34,VISCOFAN,"49,52",,"-0,36%","-0,18","360.520,30","2.305,02","19,12","3,30%",12:03

#### Ejercicio

Usa los elementos `th` de la primera fila de las tablas para extraer nombres para las columnas de la tabla.

In [187]:
lineas[0].find_all('th')

[<th class="footable-first-visible" href="/indice/IBEX-35/resumen/Nombre/descendente">Nombre</th>,
 <th>Precio</th>,
 <th data-breakpoints="" data-title=""></th>,
 <th data-breakpoints=""><a href="/indice/IBEX-35/resumen/Mejores">Var. (%)</a></th>,
 <th data-breakpoints="xs">Var. (€)</th>,
 <th data-breakpoints="sm xs" data-title="Volumen (€)"><a href="/indice/IBEX-35/resumen/Volumen">Volumen (€)</a></th>,
 <th data-breakpoints="sm xs" data-title="Cap."><a href="/indice/IBEX-35/resumen/Capitalizacion">Capitalización</a><sup>(1)</sup></th>,
 <th data-breakpoints="sm xs" data-title="PER"><a href="/indice/IBEX-35/resumen/PER">PER</a></th>,
 <th data-breakpoints="sm xs" data-title="Rent. /Div."><a href="/indice/IBEX-35/resumen/Rentabilidad-Dividendo">Rent. /Div.</a></th>,
 <th class="footable-last-visible" data-breakpoints="sm xs" data-title="Hora"> Hora </th>]

In [188]:
head = [[x.text for x  in linea.find_all('th')] for linea in lineas][0]
head

['Nombre',
 'Precio',
 '',
 'Var. (%)',
 'Var. (€)',
 'Volumen (€)',
 'Capitalización(1)',
 'PER',
 'Rent. /Div.',
 ' Hora ']

In [189]:
datos.columns = head
datos

,Nombre,Precio,,Var. (%),Var. (€),Volumen (€),Capitalización(1),PER,Rent. /Div.,Hora
0,ACCIONA,"84,52",,"-0,38%","-0,32","2.072.710,26","4.836,14","16,62","3,96%",12:20
1,ACERINOX,"9,63",,"+0,52%","0,05","3.843.344,12","2.652,46","11,56","5,08%",12:20
2,ACS,"35,93",,"-0,77%","-0,28","2.615.204,38","11.302,75","11,24","4,79%",12:20
3,AENA,"150,25",,"-1,02%","-1,55","2.006.341,40","22.605,00","17,01","4,64%",12:18
4,AMADEUS,"66,50",,"+0,61%","0,40","7.323.668,60","29.172,92","22,76","2,03%",12:20
5,ARCELORMITTAL,"20,77",,"+0,58%","0,12","3.073.045,46","21.168,73","0,00","0,00%",12:19
6,BANKIA,"2,52",,"+0,88%","0,02","2.767.628,56","7.755,60","10,71","5,24%",12:19
7,BANKINTER,"6,67",,"+0,54%","0,04","3.269.676,47","6.002,63","10,86","4,60%",12:20
8,BBVA,"5,21",,"-0,27%","-0,01","26.527.312,00","34.833,04","8,10","5,39%",12:20
9,CAIXABANK,"2,97",,"+1,19%","0,04","23.833.015,33","17.758,89","8,19","6,29%",12:20
10,CELLNEX TELECOM,"24,80",,"+0,28%","0,07","145.977,67","5.731,84","75,34","0,47%",09:09
11,CIE AUTOMOTIVE,"24,52",,"-0,08%","-0,02","781.303,66","3.160,50","11,57","2,66%",12:14
12,ENAGAS,"25,38",,"-0,78%","-0,20","2.281.731,79","6.068,62","14,35","6,30%",12:19
13,ENCE,"6,840",,"+2,17%","0,145","4.716.890,69","1.685,74","10,15","4,79%",12:13
14,ENDESA,"22,04",,"+0,23%","0,05","2.407.645,89","23.292,55","15,12","6,58%",09:10
15,FERROVIAL,"19,48",,"-1,44%","-0,29","6.510.166,59","14.425,73","33,90","3,17%",12:20
16,GRIFOLS,"23,55",,"-0,38%","-0,09","1.678.712,55","10.014,05","20,17","1,79%",12:19
17,IAG (IBERIA),"7,56",,"+0,67%","0,05","2.220.948,82","15.079,69","6,28","4,17%",12:18
18,IBERDROLA,"7,22",,"-0,22%","-0,02","17.613.058,50","46.254,86","14,33","4,96%",12:20
19,INDITEX,"25,04",,"+0,00%","0,00","10.642.001,14","77.853,97","19,77","3,55%",12:20
20,INDRA,"9,25",,"+0,27%","0,03","1.224.431,85","1.632,29","10,72","1,40%",12:19
21,INM. COLONIAL,"8,87",,"+0,06%","0,01","1.247.474,56","4.506,98","30,51","2,48%",12:20
22,MAPFRE,"2,48",,"+0,28%","0,01","1.381.325,78","7.643,45","8,97","6,49%",12:18
23,MEDIASET,"6,228",,"-1,21%","-0,076","1.062.289,45","2.044,51","10,53","9,25%",12:16
24,MELIA HOTELS INTL,"9,18",,"+1,16%","0,11","1.978.762,95","2.115,54","15,47","1,79%",12:20
25,MERLIN PROP.,"11,46",,"+0,31%","0,04","1.691.814,26","5.355,39","19,16","4,59%",12:20
26,NATURGY,"24,29",,"-0,33%","-0,08","14.381.331,14","24.326,76","16,35","5,66%",12:20
27,REE,"20,18",,"-0,30%","-0,06","3.156.441,97","10.929,82","14,88","5,29%",12:20
28,REPSOL,"15,40",,"-0,06%","-0,01","14.111.541,64","23.936,57","9,04","6,22%",12:20
29,SABADELL,"0,88",,"+2,04%","0,02","13.026.998,81","4.935,97","6,06","7,70%",12:20
30,SANTANDER,"4,10",,"-0,11%","-0,00","897.192.389,93","66.707,96","7,98","5,65%",12:20
31,SIEMENS GAMESA,"13,00",,"+0,27%","0,04","3.273.173,41","8.892,33","16,96","0,75%",12:18
32,TECNICAS REUNIDAS,"23,49",,"+0,51%","0,12","519.925,43","1.311,32","13,56","3,97%",12:11
33,TELEFONICA,"7,57",,"-0,54%","-0,04","12.970.181,96","38.247,02","10,45","5,31%",12:20
34,VISCOFAN,"49,52",,"-0,36%","-0,18","360.520,30","2.305,02","19,12","3,30%",12:03

In [ ]:
#Opcion 2
names = soup.fins_all('tr', class_ = 'footable-header')
names = [[x.text for x  in name.find_all('th')] for name in names][0]

#### Ejercicio

Elimina las columnas irrelevantes y cambia los nombres de las columnas por otros breves y sin caracteres extraños o que dificulten el posproceso.

In [190]:
#Eliminar la columna vacia
del datos['']

datos

,Nombre,Precio,Var. (%),Var. (€),Volumen (€),Capitalización(1),PER,Rent. /Div.,Hora
0,ACCIONA,"84,52","-0,38%","-0,32","2.072.710,26","4.836,14","16,62","3,96%",12:20
1,ACERINOX,"9,63","+0,52%","0,05","3.843.344,12","2.652,46","11,56","5,08%",12:20
2,ACS,"35,93","-0,77%","-0,28","2.615.204,38","11.302,75","11,24","4,79%",12:20
3,AENA,"150,25","-1,02%","-1,55","2.006.341,40","22.605,00","17,01","4,64%",12:18
4,AMADEUS,"66,50","+0,61%","0,40","7.323.668,60","29.172,92","22,76","2,03%",12:20
5,ARCELORMITTAL,"20,77","+0,58%","0,12","3.073.045,46","21.168,73","0,00","0,00%",12:19
6,BANKIA,"2,52","+0,88%","0,02","2.767.628,56","7.755,60","10,71","5,24%",12:19
7,BANKINTER,"6,67","+0,54%","0,04","3.269.676,47","6.002,63","10,86","4,60%",12:20
8,BBVA,"5,21","-0,27%","-0,01","26.527.312,00","34.833,04","8,10","5,39%",12:20
9,CAIXABANK,"2,97","+1,19%","0,04","23.833.015,33","17.758,89","8,19","6,29%",12:20
10,CELLNEX TELECOM,"24,80","+0,28%","0,07","145.977,67","5.731,84","75,34","0,47%",09:09
11,CIE AUTOMOTIVE,"24,52","-0,08%","-0,02","781.303,66","3.160,50","11,57","2,66%",12:14
12,ENAGAS,"25,38","-0,78%","-0,20","2.281.731,79","6.068,62","14,35","6,30%",12:19
13,ENCE,"6,840","+2,17%","0,145","4.716.890,69","1.685,74","10,15","4,79%",12:13
14,ENDESA,"22,04","+0,23%","0,05","2.407.645,89","23.292,55","15,12","6,58%",09:10
15,FERROVIAL,"19,48","-1,44%","-0,29","6.510.166,59","14.425,73","33,90","3,17%",12:20
16,GRIFOLS,"23,55","-0,38%","-0,09","1.678.712,55","10.014,05","20,17","1,79%",12:19
17,IAG (IBERIA),"7,56","+0,67%","0,05","2.220.948,82","15.079,69","6,28","4,17%",12:18
18,IBERDROLA,"7,22","-0,22%","-0,02","17.613.058,50","46.254,86","14,33","4,96%",12:20
19,INDITEX,"25,04","+0,00%","0,00","10.642.001,14","77.853,97","19,77","3,55%",12:20
20,INDRA,"9,25","+0,27%","0,03","1.224.431,85","1.632,29","10,72","1,40%",12:19
21,INM. COLONIAL,"8,87","+0,06%","0,01","1.247.474,56","4.506,98","30,51","2,48%",12:20
22,MAPFRE,"2,48","+0,28%","0,01","1.381.325,78","7.643,45","8,97","6,49%",12:18
23,MEDIASET,"6,228","-1,21%","-0,076","1.062.289,45","2.044,51","10,53","9,25%",12:16
24,MELIA HOTELS INTL,"9,18","+1,16%","0,11","1.978.762,95","2.115,54","15,47","1,79%",12:20
25,MERLIN PROP.,"11,46","+0,31%","0,04","1.691.814,26","5.355,39","19,16","4,59%",12:20
26,NATURGY,"24,29","-0,33%","-0,08","14.381.331,14","24.326,76","16,35","5,66%",12:20
27,REE,"20,18","-0,30%","-0,06","3.156.441,97","10.929,82","14,88","5,29%",12:20
28,REPSOL,"15,40","-0,06%","-0,01","14.111.541,64","23.936,57","9,04","6,22%",12:20
29,SABADELL,"0,88","+2,04%","0,02","13.026.998,81","4.935,97","6,06","7,70%",12:20
30,SANTANDER,"4,10","-0,11%","-0,00","897.192.389,93","66.707,96","7,98","5,65%",12:20
31,SIEMENS GAMESA,"13,00","+0,27%","0,04","3.273.173,41","8.892,33","16,96","0,75%",12:18
32,TECNICAS REUNIDAS,"23,49","+0,51%","0,12","519.925,43","1.311,32","13,56","3,97%",12:11
33,TELEFONICA,"7,57","-0,54%","-0,04","12.970.181,96","38.247,02","10,45","5,31%",12:20
34,VISCOFAN,"49,52","-0,36%","-0,18","360.520,30","2.305,02","19,12","3,30%",12:03

In [ ]:
datos.columns = ['']

In [210]:
datos.columns = ['nombre', 'precio', 'var_pct', 'var_eur', 'volumen', 'capitalizacion', 'per', 'rent_div', 'hora']
datos.head()

,nombre,precio,var_pct,var_eur,volumen,capitalizacion,per,rent_div,hora
0,ACCIONA,84.52,"-0,38%","-0,32","2.072.710,26","4.836,14","16,62","3,96%",12:20
1,ACERINOX,9.63,"+0,52%","0,05","3.843.344,12","2.652,46","11,56","5,08%",12:20
2,ACS,35.93,"-0,77%","-0,28","2.615.204,38","11.302,75","11,24","4,79%",12:20
3,AENA,150.25,"-1,02%","-1,55","2.006.341,40","22.605,00","17,01","4,64%",12:18
4,AMADEUS,66.50,"+0,61%","0,40","7.323.668,60","29.172,92","22,76","2,03%",12:20

#### Ejercicio

Cambia el formato de las columnas adecuadamente: convierte a numéricas, etc., las columnas que lo requieran.

In [1]:
Datos = datos.copy

#type(datos['Precio'])
#type(datos.Precio)
#type(datos['Hora'])

#Eliminar puntos y comas
#numero = '2,34'
def limpia_num(numero):
    #eliminar puntos porcentajes y signos mas
    numero = numero .replace('.', '')
    numero = numero .replace('%', '')
    numero = numero .replace('+', '')

    #reemplzar comas por puntos
    numero = numero .replace(',', '.')

    #casting a float
    return float(numero)

# datos['precio'] = datos.apply(lambda fila: limpia_numero(fila.precio), axis=1)
columnas_a_limpiar = ['precio', 'var_pct', 'var_eur', 'volumen', 'capitalizacion', 'per', 'rent_div']
for col in columnas_a_limpiar:
    datos[col] = datos.apply(lambda fila: limpia_num(fila[col]), axis=1)
datos

NameError: name 'datos' is not defined

## Riesgos del scraping

El scraping es una técnica potente pero tiene varios contras:

* Implica mayor tiempo de desarrollo y mayor esfuerzo en la limpieza de datos (en comparación con otras fuentes como APIs, BDs, ...)
* Si hay que scrapear gran cantidad de páginas, es lento
* Los servidores objetivo de nuestro scraping pueden tener técnicas para evitarlo. Por ejemplo, bloquear la IP temporalmente o introducir delays en las respuestas si hacemos muchas peticiones en poco tiempo. Esto pasa especialmente en las grandes webs recelosas de sus datos (p.e. linkedin, amazon, ...).
* El código de scraping escrito hoy puede no funcionar mañana, si la web destino cambia nombres, etiquetas o estructura. Si se sube a producción para lanzarlo periódicamente, hay que ser conscientes de que en algún momento fallará, y establecer mecanismos de alerta

## Javascript

Es posible que te encuentres con algún caso en el que no puedas descargar tal cual el html y parsearlo, principalmente por dos motivos:

* La estructura de la página se genera parcial o totalmente en cliente
* Debemos interactuar con algún elemento para mostrar la información que queremos (p.e. completar un campo de búsuqeda, hacer click en algún botón, ...)

En estos casos, hay que ejecutar en un navegador local el código javascript de la página destino. Para esta tarea, puedes utilizar [Selenium]().

[Aquí](https://medium.freecodecamp.org/better-web-scraping-in-python-with-selenium-beautiful-soup-and-pandas-d6390592e251) un post con un ejemplo de uso.